* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    margin: 0;
}

.main-content {
    max-width: 1920px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    background-color: rgb(5, 87, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.nav {
    width: 100%;
    max-width: 1200px;
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.title-logo {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    line-height: 25px;
}

.logo {
    margin-right: 12px;
}

.title {
    font-size: 20px;
    width: 112px;
}

.link-list {
    color: white;
    font-size: 18px;
    display: flex;
    list-style-type: none;
}

.list-item {
    margin-right: 50px;
}

.blue-section {
    position: relative;
    background-color: rgb(5, 87, 255);
    padding: 195px 0;
    display: flex;
    justify-content: center;
}

.blue-section-content {
    max-width: 1200px;
    width: 100%;
}

.cta-1 {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding-bottom: 21px;
    padding-top: 21px;
    background-color: rgba(5, 87, 255, 1);
    color: white;
    font-size: 18px;
    width: 175px;
    cursor: pointer;
}

.paragraph-title {
    margin-top: 195px;
}

.paragraph-1 {
    margin: 0;
    font-size: 16px;
    color: rgba(255, 207, 38, 1);
    letter-spacing: 0.20px;
    line-height: 18.4px;
}

.main-title {
    font-size: 64px;
    margin-top: 17px;
    color: rgba(255, 255, 255, 1);
    font-style: italic;
}

.paragraph-2 {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.cta-2 {
    background-color: #FFCF26;
    color: black;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 25px;
    width: 386px;
    height: 70px;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
}

.paragraph-3 {
    color: white;
    font-size: 18px;
    letter-spacing: 0.22 px;
    line-height: 25px;
    margin-left: 39px;
}

.group-logo {
    background-color: white;
    border: solid #FFFFFF;
    border-radius: 10px;
    position: absolute;
    bottom: -90px;
    padding: 65px 85px;
    width: 100%;
    max-width: 1200px;
}

.logo-item {
    height: 45px;
}

.list-logo {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.group {
    display: flex;
    align-items: center;
    color: black;
}

.content-men {
    width: 50%;
    height: 870px;
    overflow: hidden;
}

.group-list {
    margin-left: 100px;
}

.title-2 {
    font-size: 42px;
}

.list-checked {
    padding: 0;
    margin-top: 37px;
    font-size: 18px;
    line-height: 56px;
    letter-spacing: 0.22 px;
    list-style-type: none;
}

.cta-3 {
    background-color: rgba(255, 207, 38, 1);
    width: 175px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    margin-right: 102;
    font-size: 18px;
    cursor: pointer;
}

.group-text {
    color: black;
    margin-top: 151px;
    max-width: 1200px;
    width: 100%;
    margin: 150px;
}

.border1 {
    border: 0 solid white;
    background-color: white;
    border-radius: 5px;
    max-width: 380px;
    width: 100%;
    padding: 50px;
}

.title-3 {
    font-size: 42px;
    line-height: 48.3px;
    letter-spacing: 0.5px;
}

.text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.22 px;
}

.man-1-author {
    display: flex;
    margin-top: 47px;
}

.man-1 {
    margin-right: 19px;
}

.group-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
}

.group-background {
    margin-top: 41px;
    font-size: 19px;
    line-height: 56px;
    letter-spacing: 0.23px;
    display: flex;
}

.background-1 {
    margin-right: 74px;
    margin-left: 97px;
}

.laptop-group {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.group-paragraph {
    max-width: 1200px;
    margin: auto;
}

.para-1 {
    font-size: 42px;
    line-height: 48.3px;
    letter-spacing: 0.5px;
    margin: 0;
}

.para-2 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.22 px;
}

.para-3 {
    ont-size: 18px;
    line-height: 28px;
    letter-spacing: 0.22 px;
}

.cat-4 {
    border: 0 solid;
    width: 175px;
    height: 60px;
    background-color: rgba(255, 207, 38, 1);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 38px;
}

.laptop {
    padding-bottom: 150px;
}

.content {
    background-color: rgba(255, 255, 255, 1);
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.paragraph-a {
    margin-top: 140px;
    font-size: 42px;
    line-height: 48.3px;
    letter-spacing: 0.5 px;
}

.paragraph-b {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.22px;
}

.image-group {
    margin-top: 45px;
}

.background {
    background-color: #F2F2F2;
}

.display {
    display: flex;
}

.styles {
    padding-left: 360px;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.23px;
    font-style: italic;
}

.paragraph-small {
    padding-top: 155px;
    display: flex;
}

.paragraph-small-1 {
    margin-right: 30px
}

.paragraph-small-2 {
    margin-top: 100px;
    display: flex;
}

.paragraph-small-3 {
    margin-right: 30px
}

.paragraph-grand-smal {
    margin-left: 100px;
    padding-top: 50px;
}

.grand {
    font-size: 42px;
    line-height: 48.3px;
    letter-spacing: 0.5px;
}

.smal {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.22px;
}

.cat-5 {
    border: 0;
    border-radius: ;
    background-color: rgba(255, 207, 38, 1);
    width: 175px;
    height: 60px;
    margin-top: 35px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.22px;
    cursor: pointer;
}

.background-blue-2 {
    background-color: rgba(5, 87, 255, 1);
    max-width: 1920px;
    height: 745px;
    padding: 130px;
    margin-top: 150px;
}

.box {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.titel-small {
    font-size: 42px;
    line-height: 48.3px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-align: center;
}

.border {
    background-color: white;
    border-radius: 5px;
    width: 278px;
    height: 343px;
}

.center {
    display: flex;
    justify-content: space-between;
}

.paragraph-c {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.22px;
    margin-left: 30px;
}

.title-d {
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.16px;
    margin-top: 0px;
    margin-left: 55px;
}

.group-p {
    padding-top: 151px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.border-2 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-left: 170px;
    width: 207px;
    padding: 25px;
}

.number {
    font-size: 32px;
    line-height: 25px;
    letter-spacing: 0.22px;
    padding-left: 34px;
}

.p-1 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.22px;
}

.p-2 {
    padding-top: 23px;
    font-size: 42px;
    line-height: 48.3px;
    letter-spacing: 0.5px;
}

.cat-6 {
    border: 0;
    border-radius: 5px;
    background-color: rgba(255, 207, 38, 1);
    width: 386px;
    height: 70px;
    font-size: 20px;
    line-height: 48.25px;
    letter-spacing: 0.24 px;
    cursor: pointer;
}

.footer {
    background-color: rgba(17, 17, 17, 1);
    max-width: 1920px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    margin-top: 150px;
}

.texts {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.group-logo-title {
    display: flex;
    align-items: center;
}

.title-5 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.22;
}

.code-lab-1 {
    margin-right: 12px;
}

.parag {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.22;
}

.spans {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.group-span {
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.22;
    display: flex;
    margin-bottom: 50px;
}

.border-bottom {
    margin-top: 70px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.span-1 {
    margin-right: 50px;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.22;
}

.image-1 {
    margin-right: 20px;
}