* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    margin: 0;
}

.main-content {
    background-color: rgba(5, 87, 255, 1);
    width: 1920px;
    height: 960px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.header {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.nav {
    width: 1200px;
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.title-logo {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    line-height: 25px;
}

.logo {
    margin-right: 12px;
}

.title {
    font-size: 20px;
    margin-right: 195px;
    width: 112px;
}

.link-list {
    color: white;
    font-size: 18px;
    display: flex;
    padding-right: 220px;
    list-style-type: none;
}

.list-item {
    margin-right: 50px;
}

.cta-1 {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding-bottom: 21px;
    padding-top: 21px;
    background-color: rgba(5, 87, 255, 1);
    color: white;
    font-size: 18px;
    width: 175px;
    cursor: pointer;
}

.paragraph-title {
    margin-left: 360px;
    margin-top: 195px;
}

.paragraph-1 {
    font-size: 16px;
    color: rgba(255, 207, 38, 1);
    letter-spacing: 0.20px;
    line-height: 18.4px;
}

.main-title {
    font-size: 64px;
    margin-top: 17px;
    color: rgba(255, 255, 255, 1);
    font-style: italic;
}

.paragraph-2 {
    margin-left: 360px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.cta-2 {
    background-color: #FFCF26;
    color: black;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 25px;
    width: 386px;
    height: 70px;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
}

.paragraph-3 {
    color: white;
    font-size: 18px;
    letter-spacing: 0.22 px;
    line-height: 25px;
    margin-left: 39px;
}

.group-logo {
    background-color: white;
    margin-top: 224px;
    margin-left: 360px;
    margin-bottom: 0;
    border: solid #FFFFFF;
    border-radius: 10px;
    width: 1200px;
    height: 180px;
    position: absolute;
}

.list-logo {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 65px 101px 0px 86px;
}

.group {
    display: flex;
    align-items: center;
    color: black;
}

.img-people {
    margin-top: 314px;
}